---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Check from "../components/Check.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center ">
    <div
      class="flex flex-col justify-center gap-x-32 gap-y-20 mt-40 lg:flex-row lg:px-44 py-20 w-screen px-10"
    >
      <div class="flex flex-col justify-start items-start w-full">
        <span class="p-2 rounded-full bg-[#F5C044] text-2xl">⭐</span>
        <h1 class="text-4xl font-bold mt-4 mb-4">Reviewers</h1>
        <p class="text-[#52525A] text-xl leading-9 text-pretty">
          Reviewers is where people can access guidelines, checklists, and other
          tools to assist them in reviewing papers or manuscripts. It provides a
          structured approach to ensure that the review process is thorough,
          efficient, and consistent.
        </p>
        <ul class="mt-6">
          <Check title="Checklist to Review an Academic Paper" />
          <Check title="Peer Review Checklist" />
          <Check
            title="Checklist for Editors, Reviewers, and Authors of SPIE Journals"
          />

        </ul>
      </div>
			<div class="flex flex-col gap-16 relative w-full ">
				<Card
					class="self-end"
					title="Samantha Lee"
					body="The checklist ensures that the review process is thorough"
					image="google-testimonial.png"
					starFilled={4}
					starEmpty={1}
				/>
				<Card
					class="self-start"
					title="Rachel Patel"
					body="I highly recommend the Writecream Business Description"
					image="meta-testimonial.png"
					starFilled={5}
					starEmpty={0}
				/>
			</div>
    </div>

    <style></style>
  </main>
</Layout>
