---
// interface Props {
//   title: string;
//   body: string;
//   image: string;
//   starFilled: number;
//   starEmpty: number;
// }

const { image, title, body, starFilled, starEmpty, class: className } = Astro.props;
---

<div class=`${className} bg-white p-8 rounded-xl shadow-lg `>
  <div class="flex items-center gap-x-4">
    <img class="w-24" src={image} alt="" />
    <ul class="flex justify-center items-center">
      {
        Array.from({ length: starFilled }).map((_, index) => (
          <li class="inline-block">
            <img class="size-6" src="Star_fill.svg" alt="" />
          </li>
        ))
      }
      {
        Array.from({ length: starEmpty }).map((_, index) => (
          <li class="inline-block">
            <img class="size-6" src="Star_fill_gray.svg" alt="" />
          </li>
        ))
      }
    </ul>
  </div>
  <h1 class="text-base font-bold mt-4 mb-2">{title}</h1>
  <p class="text-[#52525A] leading-8 text-balance text-base font-medium">
    {body}
  </p>
</div>
<style></style>
